/* Hex code of color used was  #55A8AE; */
/* The Logo is hand drawn */
/* All other resources should be downloaded on your own */
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import 'font.css';
 /* font-family: Ubuntu,
sans-serif;
font-family: Lora,
serif; */  

.header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-container {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 550px;
    border: 1px solid #ccc;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-container .slider {
    height: 100%;
    display: flex;
    width: 400%;
    transition: all .3s;
}

.carousel-container .slider section {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.carousel-container .controls .arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

.carousel-container .arrow.left {
    left: 1rem;
}

.carousel-container .arrow.right {
    right: 1rem;
}

#content-one {
    background-image: url(Resources/Unsplash-bed1.png);
}

#content-two {
    background-image: url(Resources/bed-1.jpg);
}

#content-three {
    background-image: url(Resources/bed-2.jpg);
}

#content-four {
    background-image: url(Resources/bed-3.jpg);
}
#content-five {
    background-image: url(Resources/Unsplash-bed1.png);
}

.carousel-container section div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-container section div h1 {
    font-size: 100px;
    color: #fff;
    line-height: 122px;
    margin: 0 0 2rem 0;
    text-align: center;
}

.carousel-container section div button {
    width: 251px;
    height: 80px;
    background-color: #55A8AE;
    border: 1px solid transparent;
    outline: none;
    border-radius: 3rem;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.carousel-container .arrow {
    width: 40px;
    height: 40px;
    background-color: #55A8AE;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container .controls ul {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    padding: 0;
    margin: 0;
}

.carousel-container .controls ul li {
    width: 14px;
    height: 14px;
    border: 2px solid #fff;
    list-style: none;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.carousel-container .controls ul li.selected {
    background: #fff;
}

/* Responsiveness */
@media screen and (max-width: 1250px) {
    .carousel-container section div h1 {
        font-size: 80px;
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    .carousel-container section div h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 900px) {
    .carousel-container section div h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 790px) {
    .carousel-container section div h1 {
        font-size: 50px;
        margin-bottom: .5rem;
    }
}

@media screen and (max-width: 400px) {
    .carousel-container .left, .carousel-container .right {
        display: none;
    }
} 
=======
/*== General ==*/

@import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu&display=swap");
@import 'font.css';

body{
 font-family: "Ubuntu", "sans-serif";
}


/*== nav section ==*/
.nav-bluish{
	background: #55A8AE;
	font-size: 18px;
}

.nav-logo-size{
	height:60px;
	width: 60px;
}

/*== Reservation Section ==*/
.reservation-bluish{
    color: #55A8AE;
}
.res-button{
    background: #55A8AE;
}
.body-width{
    width:100%;
}

@media (max-width: 768px){
.pics{
    width:50%;
}
}
/*== Rooms and Rates ==*/
.room-bluish{
    color: #55A8AE;
}
#room-font p{
    font-size: 13px;
}
.room-width{
    width: 100%;
}

/*@media screen and (min-width: 576px){
    .pricing-img {
        width:60%;
    }
@media screen and (max-width: 768px){
    .pricing-img {
        width:80%;
    }
}
/*== facility ==*
.facility-img{
    display: block;
    width: 100%;
}
.facility-bluish{
    color: #55A8AE;
}

.facility-relative {
    position:relative;
}


.facility-text{
    display: flex;
    position: absolute;
    left: 0;
    flex-direction:column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.facility-width{
    width:100%;
}

#content-cocktail {
    background-image: url(Resources/cocktail 1.png);
}

#facility-sp{
    height: 60px;
    width: 60px;
}


*/

/*== Contact Section ==*/


@media screen and (min-width: 871px){
div#contact-sec{
    max-width:70%;
    max-height: 50%;
}
}

.contactus-color{
    color: #55A8AE;
}

.room-bluish{
    color: #55A8AE;
}
#room-font p{
    font-size: 13px;
}
room-width{
    width: 100%;
}

.con-background{
background-color: #55A8AE;
}

#contact-sec form {
  /*display:flex;
  flex-direction:column;
  align-items:center;*/
  max-width:200px;
/*  margin:0 auto; */
}


#contact-sec form input/*:not([type="submit"])*/,
#contact-sec form textarea {
  width:100%;
  adding:20px;
  argin-bottom: 10px;
  border: 1px solid #ccc;
  font-size:14px;
  box-sizing: border-box;
  outline:none;
}
#contact-sec form textarea{
  height: 50;
  resize: none;
}

#contact-sec form *::-webkit-input-placeholder {
  color:#ccc;
  font-style:italic;
}

#contact-sec form *::-moz-placeholder {
  color:#ccc;
  font-style:italic;
}

#contact-sec form *:-ms-input-placeholder {
  color:#ccc;
  font-style:italic;
}

#contact-sec form *:-moz-input-placeholder {
  color:#ccc;
  font-style:italic;
}

#contact-sec input[type="submit"]{
  border:none;
  padding:5px 40px;
}

#contact-secs input[type="submit"]:hover{
  background: #55A8AE;
  color:#fff;
}

.google-pic{
  max-width: 200px;
  box-sizing: border-box;
}


/*== Footer section ==*/
.bluish{
	background: #55A8AE;
	font-size: 12px;
}

.logo-size{
	height:60px;
	width:100px;
	padding-left:40px;
}

.padding-left{
	margin-left:40px;
}


.no-bullet{
	list-style-type: none;
}

i.icon-location, i.icon-phone, i.icon-mail {
    padding-top: 5px;
}

.gbe-body{
    width:100%;
}
.footer-margin{
    padding-left:50px;
}

/*== section-4==*/
.section-4 {
  box-sizing: border-box;
}

.section-4 {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
}

/* FACILITIES */
.facility-container {
  display: flex;
  flex-direction: column;
  background-image: url('Resources/concrete-building.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  padding: 80px 0;
  box-sizing: border-box;
}

/* dark overlay */
.facility-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.facility-container img {
  width: 120px;
  height: 120px;
  color: #fff;
}

.facility-container h2 {
  text-align: center;
}

#offers h1,
#testimony h1 {
  font-size: 2.5rem;
  color: #55a8ae;
  text-align: center;
  padding: 25px 0;
}

.facility-container div {
  padding: 20px;
  color: #fff;
  text-align: center;
  z-index: 1;
}

.facility-container .row-a,
.facility-container .row-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.row1,
.row2,
.row3,
.row4,
.row5,
.row6 {
  flex: 1;
}

/* TESTIMONIALS */
.testimonials-container {
  display: flex;
  padding: 10px 20px 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.testimony {
  width: 800px;
  height: 300px;
  text-align: center;
  margin: auto;
  font-size: 1.2rem;
}

.testimony em {
  font-weight: 300;
}

.testimony > img {
  width: 120px;
  height: 120px;
  border: 0;
  border-radius: 50%;
}

.testimonials-container .btn {
  position: absolute;
  bottom: 100%;
  right: 15%;
}

.testimonials-container .btn button {
  border: 1px solid #55a8ae;
  border-radius: 4px;
  margin: 0 3px;
}

@media (max-width: 500px) {
  .facility-container {
    padding: 0;
  }

  .facility-container div {
    z-index: 3;
  }

  .facility-container img {
    width: 80px;
    height: 80px;
    color: #fff;
  }

  .facility-container .row-a,
  .facility-container .row-b {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .testimony > img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 700px) {
  .facility-container img {
    width: 100px;
    height: 100px;
    color: #fff;
  }
}
/*== my sec-4==*/
.testimony{
    max-width: 500px;
    font-size: 15px
}